<div class="container">
  <p></p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Areas/Technologies</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Programming Languages</td>
        <td>Java, JavaScript, TypeScript, <br>C, Unix Shell Script</td>
      </tr>
      <tr>
        <td>Web/UI Technologies</td>
        <td>HTML, CSS, BootStrap</td>
      </tr>
      <tr>
        <td>Frameworks</td>
        <td>Spring MVC, Angular</td>
      </tr>
      <tr>
        <td>Operating Systems</td>
        <td>Linux, Unix</td>
      </tr>
      <tr>
        <td>Tools</td>
        <td>Visual Studio Code, Eclipse, <br>Oracle SQL Developer, Splunk</td>
      </tr>
      <tr><td></td><td></td></tr>  
    </tbody>
  </table>
</div>