<div class="container">
 <div class="row">
  <div class="col-md-4">
    <h2><i>Sirora Dutta</i></h2>
    <div class="card" style="width:375px">
      <img class="card-img-top" src="https://picsum.photos/id/0/5616/3744" alt="Card image" style="width:100%">
      <div class="card-body">
        <p class="card-text"><strong>Software Development Engineer</strong> - Expertise in Java, JavaScript, HTML, CSS, TypeScript & Angular</p>
        <div class="mx-auto">
          <a class="btn btn-info" style="cursor: pointer" routerLink="profile">See Profile</a>
          <a class="btn btn-info" style="cursor: pointer" routerLink="workexp">Work Experience</a>
        </div>
      </div>
    </div>    
  </div>
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div> 
 </div>
</div>