.container {
    padding: 5% 0 12% 0;
}
.btn {
    margin: 20px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif
}
body {
    /* height: 92vh; */
}
.col-md-4 {
    padding: 0 5% 0 5%;
}
.col-md-8 {
    padding: 5% 0 0 5%;
}