<div [ngSwitch]="id" class="expFrame">
    <div *ngSwitchCase="1">
        <br>
        <ul>
            <p>Senior Software Engineer</p>
            <li>Design and develop Java Web Applications backed by Oracle and MongoDB Databases</li>
            <li>Design and develop dashboards which shows the usage metrics for each and every API</li>
            <li>Plan the infrastructure capacity for the high availability of apps in during high volumes and critical events</li>
            <li>Design and implement high availability active-active infrastructure across multiple data centers</li>
        </ul>
    </div>
    <div *ngSwitchCase="2">
        <br>
        <ul>
            <p>Software Developer (2008-10)</p>
            <li>Designed and Developed code for an Internal R&D Project</li>
            <li>Designed User Manuals, Technical Documentation</li>
            <li>Modification the code in the existing version to improve the performance of Application</li>
        </ul>
        <br>
        <ul>
            <p>Software Developer (2010-12)</p> 
            <li>Designed and Developed the corresponding user interface</li>
            <li>Automation of email notifications during Change Management</li>
            <li>Automation of different status reports to end Users</li>
        </ul>    
    </div>
    <!-- <div *ngSwitchDefault>Value is Default</div>  	 -->
</div>